@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 800px) {
  p {
    font-size: 1.8rem;
  }
}

h1 {
  font-size: 9rem;
  font-weight: 900;
  margin-block: 2rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 18rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 3rem;
  }
}

h2, h3 {
  word-spacing: 2px;
  letter-spacing: 1.3px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: 2.6rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  h4 {
    font-size: 1.8rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotesContainer p {
  color: white !important;
}

.quote__text, .quote__author {
  color: white !important;
  line-height: 2;
  max-width: 50ch;
}

.quote__refresh {
  -webkit-transform: translate(1rem, -2rem);
          transform: translate(1rem, -2rem);
  cursor: pointer;
}

.myRegion {
  margin-top: 12rem !important;
  color: white;
  position: relative;
}

.myRegion__dayPeriod, .myRegion__timeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myRegion__dayPeriod img, .myRegion__timeContainer img {
  margin-right: 1.5rem;
}

.myRegion__timeContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myRegion__timeContainer span {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 0.3rem;
}

.myRegion__more {
  padding: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 30px;
  color: rgba(48, 48, 48, 0.637);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
  width: 110px;
  cursor: pointer;
}

.myRegion__more p {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 1.8px;
  font-size: 1.3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.myRegion__more img {
  height: 100%;
}

@media screen and (min-width: 800px) {
  .myRegion__more {
    position: absolute;
    height: 50px;
    left: 70%;
    top: 50%;
  }
}

.myRegion__date {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 2rem 3rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.65);
  color: rgba(48, 48, 48, 0.637);
}

.myRegion__date h2 {
  color: #303030;
}

@media screen and (min-width: 800px) {
  .myRegion__date h2 {
    margin-top: 1rem;
  }
}

.myRegion__date h4 {
  font-weight: 300;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .myRegion__date h4 {
    font-size: 1.7rem;
  }
}

.myRegion__date .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-block: 0.8rem;
}

@media screen and (min-width: 800px) {
  .myRegion__date .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .myRegion__date {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-block: 4rem;
    padding-left: 10rem;
  }
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/App/assets/mobile/bg-image-daytime.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/App/assets/tablet/bg-image-daytime.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/tablet/bg-image-daytime.jpg);
  }
}

@media screen and (min-width: 800px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/App/assets/desktop/bg-image-daytime.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/desktop/bg-image-daytime.jpg);
  }
}

main, header {
  padding: 2.5rem 3rem;
}

@media screen and (min-width: 800px) {
  main, header {
    padding-left: 10rem;
  }
}

.hidden {
  display: none;
}

.rotateIcon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */