@import  './partials/reset';
 @import  './partials/variables';
 @import  './partials/mixins';
 @import  './partials/typogprahy';
 @import './partials/header';
 @import './partials/myRegion';

 body{
   //  padding: 2.5rem 3rem;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/mobile/bg-image-daytime.jpg) ;
      background-size: cover;
    @include tablette{
      background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/tablet/bg-image-daytime.jpg);
    }
    @include desktop{
       background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/desktop/bg-image-daytime.jpg);
    }
 }

main,header{
    padding: 2.5rem 3rem;
   
   @include desktop{
         padding-left: 10rem;
   }
}

.hidden{
   display: none;
}
.rotateIcon{
transform: rotate(180deg);
}