@import  './partials/reset';
 @import  './partials/variables';
 @import  './partials/mixins';
 @import  './partials/typogprahy';
 @import './partials/header';

 body{
    height: 100vh;
    padding: 2rem;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/mobile/bg-image-daytime.jpg);
    background-repeat: no-repeat;
      background-size: cover;
    @include tablette{
       background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/tablet/bg-image-daytime.jpg);
    }
    @include desktop{
       background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/App/assets/desktop/bg-image-daytime.jpg);
    }
 }


 